
.app {
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background:linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url("../Pictures/Background.png");
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow : auto; 
}


h4 {
  font-family: roboto,arial,times new roman;
  margin-top: 0px;
  margin-bottom: 12px;
  text-align:center;
  }

h2 {
  font-family: roboto,arial,times new roman;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align:center;
}


.home {
  margin: 7% 10% 10% 10%;
  text-align: center;
  font-size: 1.25em;
}

.participants {
  vertical-align: middle;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
  width:100%;
  margin-left: -.75vw;
}

.attendee {
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
  margin-left: .75vw;
  margin-bottom: .75vw;
  width: 23.5vw;
  overflow: hidden;
  height: 50vh;
  -webkit-mask-image: -webkit-radial-gradient(white, black); 
  display: flex;
  justify-content: center;
}

.identity {
  position: absolute;
  left: 0px;
  bottom: 15px;
  color: white;
  padding-left: 15px;
  box-sizing: border-box;
  z-index: 10;
}


.raisehand {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 20; 
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

video {
  display: block;
  box-shadow: 0px 0px 15px 5px #ddd;
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.dominantSpeaker:before {
  z-index: 20;
  border: 5px solid #ff7878;
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  border-radius: 8px;
}

.audiocontrol .videocontrol {
  position:relative;
  z-index: 50;
  color: white;
  cursor: pointer;
  font-size: 3rem;
}

.spacer{
  margin-bottom: 1100;
  visibility: hidden; 
}

.audiocontrol .videocontrol:hover {
  opacity: 1;
}

.fa-microphone-slash, .fa-video-slash {
  color: red;
}

.video .audiocontrol .videocontrol {
  margin-top: 45px;
}

.icon {
  margin-bottom: 5px;
  cursor: pointer;
}

.standard-button {
 
  background-color: #008080;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
  font-size: 1em;
}

.standard-button:disabled {
  opacity: .4;
  cursor:initial;
}

input {
  padding-bottom: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid #555;
  margin-bottom: 25px;
  width: 200px;
  font-size: 1em;
  text-align: center;
  border-radius: 0;
  margin:20px;
}

@media (max-width: 1048px) {
  .app {
    padding: 1vw;
  }

  .attendee {
    width: 47vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 2vw;
    height: 42vh;
  }

  @media (orientation:landscape) {
    .attendee {
      width: 48vw;
      margin-left: 1vw;
      height: 96vh;
    }
  }

}

@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  height: 90vmin;
  left: 60%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 7vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #000;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #767676;

}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}
